{{- $page := . -}}

<!-- Footer start -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 footer-widget">
        <h3 class="widget-title">Recent articles</h3>

        {{ range .Params.recent_posts }}

        <div class="latest-post-items media">
          <div class="latest-post-content media-body">
            <h4><a href="{{ ref $page .link }}">{{ .title }}</a></h4>
            <p class="post-meta">
              <span class="date"><i class="icon icon-calendar"></i>{{ .date }}</span>
            </p>
          </div>
        </div>

        {{ end }}
      </div><!--/ End Recent Posts-->

      <div class="col-md-4 col-sm-12 footer-widget">
      </div><!--/ end flickr -->

      <div class="col-md-3 col-sm-12 footer-widget footer-about-us">
        <h3 class="widget-title">Contacts</h3>

        <h4>Discord</h4>
        <p>
          <a href="https://www.velocidex.com/discord">
            https://www.velocidex.com/discord
          </a>
        </p>

        <h4>Email</h4>
        <p>info@velocidex.com</p>

      </div><!--/ end Contacts -->

    </div><!-- Row end -->
  </div><!-- Container end -->
</footer><!-- Footer end -->


<!-- Footer start -->
<section id="copyright" class="copyright angle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright-info">
          &copy; Copyright 2020 Velocidex Enterprises.
        </div>
      </div>
    </div><!--/ Row end -->
    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
      <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
    </div>
  </div><!--/ Container end -->
</section><!--/ Footer end -->

{{- partial "jsfooter.html" }}
