

<!-- Javascript Files
     ================================================== -->

<!-- initialize jQuery Library -->
<script type="text/javascript" src="/js/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Style Switcher -->
<script type="text/javascript" src="/js/style-switcher.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<!-- PrettyPhoto -->
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<!-- Bxslider -->
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<!-- CD Hero slider -->
<script type="text/javascript" src="/js/cd-hero.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="/js/isotope.js"></script>
<script type="text/javascript" src="/js/ini.isotope.js"></script>
<!-- Wow Animation -->
<script type="text/javascript" src="/js/wow.min.js"></script>
<!-- SmoothScroll -->
<script type="text/javascript" src="/js/smoothscroll.js"></script>
<!-- Eeasing -->
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<!-- Counter -->
<script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
<!-- Waypoints -->
<script type="text/javascript" src="/js/waypoints.min.js"></script>
<!-- Template custom -->
<script type="text/javascript" src="/js/bizcraft-custom.js"></script>
