<div class="body-inner">

  {{- partial "bizcraft_header.html" . -}}

  <!-- Slider start -->
  <section id="home" class="no-padding">
    <div id="main-slide" class="cd-hero">
      <ul class="cd-hero-slider">
        <li class="selected">
          <div class="overlay2">
            <img class="" src="/images/slider/bg1.jpg" alt="slider">
          </div>
          <div class="cd-half-width cd-img-container">
            <img src="/images/logos/logo.svg" class="logo"></img>
          </div>
          <div class="cd-half-width">
            <h2>Powerful endpoint visibility</h2>
            <a href="#0" class="btn btn-primary white cd-btn">Start Now</a>
            <a href="#0" class="btn btn-primary solid cd-btn">Learn More</a>
          </div> <!-- .cd-full-width -->
        </li>
        <li>
          <div class="overlay2">
            <img class="" src="/images/slider/bg2.jpg" alt="slider">
          </div>
          <div class="cd-half-width">
            <h2>Discover signs of compromise</h2>
            <p>
              Velociraptor brings domain expert forensic knowledge to
              your fingertips
            </p>
            <a href="#0" class="cd-btn btn btn-primary solid">Take a Tour</a>
          </div> <!-- .cd-half-width -->

          <div class="cd-half-width cd-img-container">
            <img src="/images/logos/logo.svg"
                 class="logo"
                 alt="">
          </div> <!-- .cd-half-width.cd-img-container -->
        </li>
        <li>
          <div class="overlay2">
            <img class="" src="/images/slider/bg3.jpg" alt="slider">
          </div>
          <div class="cd-half-width cd-img-container img-right">
            <img src="/images/logos/logo.svg" class="logo" alt="">
          </div> <!-- .cd-half-width.cd-img-container -->
          <div class="cd-half-width">
            <h2>Respond and Automate</h2>
            <p>
              Automate response actions to collect more evidence, or
              disrupt and ongoing attack!
            </p>
            <a href="#0" class="cd-btn btn btn-primary white">Start</a>
            <a href="#0" class="cd-btn btn secondary btn-primary solid">Learn More</a>
          </div> <!-- .cd-half-width -->
        </li>
      </ul> <!--/ cd-hero-slider -->

      <div class="cd-slider-nav">
        <nav>
          <span class="cd-marker item-1"></span>
          <ul>
            <li class="selected"><a href="#0">
                <i class="fa fa-binoculars"></i>
                Investigate</a></li>
            <li><a href="#0"><i class="fa fa-search"></i>
                Discover</a></li>
            <li><a href="#0"><i class="fa fa-bullseye"></i>
                React</a></li>
          </ul>
        </nav>
      </div> <!-- .cd-slider-nav -->

    </div><!--/ Main slider end -->
  </section> <!--/ Slider end -->


  <!-- Service box start -->
  <section id="service" class="service angle">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <span class="title-icon pull-left">
            <i class="fa fa-cogs"></i></span>
        </div>
        <div class="col-md-11 heading">
          <h2 class="title">
            The Velociraptor advantage
            <span class="title-desc">
              Powered by a flexible and powerful query language,
              Velociraptor is quickly becoming the tool of choice
              for many forensic and incident response
              investigations.
            </span>
          </h2>
        </div>
      </div><!-- Title row end -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
            <div class="service-content text-center">
              <span class="service-icon icon-pentagon">
                <img src="/images/icons/logs.svg"></img>
              </span>
              <h3>Collection</h3>
              <p>
                At the press of a button, collect evidence across all your endpoints.
              </p>
            </div>
          </div><!--/ End first service -->

          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s" >
            <div class="service-content text-center">
              <span class="service-icon icon-pentagon">
                <img src="/images/icons/monitoring.svg"></img>
              </span>
              <h3>Detection</h3>
              <p>
                Continuously collect endpoint events such as event
                logs, file modification and process execution
                logs. Centrally store events indefinitely for
                historical review and analysis.
              </p>
            </div>

          </div><!--/ End Second service -->

          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
            <div class="service-content text-center">
              <span class="service-icon icon-pentagon">
                <img src="/images/icons/target.svg"></img>
              </span>
              <h3>Hunting</h3>
              <p>
                Actively search for intrusions by customizing
                detection and collection rules to your specific
                environment.
              </p>
            </div>
          </div><!--/ End Third service -->

          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
            <div class="service-content text-center">
              <span class="service-icon icon-pentagon">
                <img src="/images/icons/triage.svg"></img>
              </span>
              <h3>Response</h3>
              <p>
                When certain conditions are detected, trigger
                automated response actions - from alerts to
                automated triaging and endpoint lockdown.
              </p>
            </div>
          </div><!--/ End 4th service -->
        </div>
      </div><!-- Content row end -->
    </div><!--/ Container end -->
  </section><!--/ Service box end -->

  <!-- Portfolio start -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 heading">
          <span class="title-icon classic pull-left"><i class="fa fa-suitcase"></i></span>
          <h2 class="title classic">Velociraptor</h2>
        </div>
      </div> <!-- Title row end -->

      <!--Isotope filter start -->
      <div class="row text-right">
        <div class="isotope-nav" data-isotope-nav="isotope">
          <ul>
            <li><a href="#" class="active" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".forensics">Forensics</a></li>
            <li><a href="#" data-filter=".incident-response">Incident Response</a></li>
          </ul>
        </div>
      </div><!-- Isotope filter end -->
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="">
        </div>
        <div class="">
          <div id="isotope" class="isotope">
            <div class="col-sm-3 web-design isotope-item">
              <div class="grid">
                <figure class="effect-oscar">
                  <img src="/images/screenshots/add_artifacts.png" alt="">
                  <figcaption>
                    <h3>Search for Forensic Artifacts</h3>
                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                       href="/images/screenshots/add_artifacts.png">
                      <i class="fa fa-search"></i></a>
                  </figcaption>
                </figure>
              </div>
            </div><!-- Isotope item end -->

            <div class="col-sm-3 forensics isotope-item">
              <div class="grid">
                <figure class="effect-oscar">
                  <img src="/images/screenshots/client_stats.png" alt="">
                  <figcaption>
                    <h3>Endpoint Telemetry</h3>
                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                       href="/images/screenshots/client_stats.png">
                      <i class="fa fa-search"></i></a>
                  </figcaption>
                </figure>
              </div>
            </div><!-- Isotope item end -->

            <div class="col-sm-3 incident-response isotope-item">
              <div class="grid">
                <figure class="effect-oscar">
                  <img src="/images/screenshots/dashboard.png" alt="">
                  <figcaption>
                    <h3>A dashboard</h3>
                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                       href="/images/screenshots/dashboard.png">
                      <i class="fa fa-search"></i></a>
                  </figcaption>
                </figure>
              </div>
            </div><!-- Isotope item end -->

            <div class="col-sm-3 incident-response isotope-item">
              <div class="grid">
                <figure class="effect-oscar">
                  <img src="/images/screenshots/edit_artifacts.png" alt="">
                  <figcaption>
                    <h3>Editing Artifacts</h3>
                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                       href="/images/screenshots/edit_artifacts.png">
                      <i class="fa fa-search"></i></a>
                  </figcaption>
                </figure>
              </div>
            </div><!-- Isotope item end -->
          </div><!-- Isotope content end -->
        </div>
      </div><!-- Content row end -->
    </div><!-- Container end -->
  </section><!-- Portfolio end -->

  <!-- Feature box start -->
  <section id="feature" class="feature">
    <div class="container">
      <div class="row">
        <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
          <span class="feature-icon pull-left" ><i class="fab fa-osi"></i></span>
          <div class="feature-content">
            <h3>Open Source</h3>
            <p>
              As an open source platform, Velociraptor is designed
              to evolve and improve through the feedback and input
              from those in the front line of cybersecurity and
              forensic investigations. Just as the world of
              cybersecurity changes, so does Velociraptor.
            </p>
          </div>
        </div><!--/ End first featurebox -->

        <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
          <span class="feature-icon pull-left" ><i class="fa fa-bolt"></i></span>
          <div class="feature-content">
            <h3>Deploy in minutes.</h3>
            <p>
              Velociraptor works on macOS, Windows, Linux,
              FreeBSD, and others.  Velociraptor is distributed as
              a statically linked single binary. This ensures it
              does not require runtime dependencies or libraries
              to be present on the system making it easy to deploy
              with SCCM or Windows' built in group policy
              technology.
            </p>
          </div>
        </div><!--/ End 2nd featurebox -->

        <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
          <span class="feature-icon pull-left" ><i class="fa fa-table"></i></span>
          <div class="feature-content">
            <h3>Powered by VQL</h3>
            <p>
              An expressive query language is used to tailor and
              adapt detection rules without needing to modify code
              or deploy software to collect new information. VQL
              is contained within high level, human readable files
              called **Artifacts**. These files can be shared and
              exchanged freely within the community in order to
              share knowledge and experience.
            </p>
          </div>
        </div><!--/ End 3rd featurebox -->
      </div><!-- Content row end -->

      <div class="gap-40"></div>

      <div class="row">
        <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
          <span class="feature-icon pull-left" ><i class="fa fa-phone"></i></span>
          <div class="feature-content">
            <h3>Commercially supported</h3>
            <p>
              Velocidex Enterprises offers a trusted commercial
              entity which stands behind our product! Backed by
              our experience in digital forensics and incident
              response investigations we can assist with custom
              integration or development requirements.
            </p>
          </div>
        </div><!--/ End 1st featurebox -->

        <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
          <span class="feature-icon pull-left" ><i class="fas fa-user-graduate"></i></span>
          <div class="feature-content">
            <h3>Training available</h3>
            <p>
              Velociraptor is designed to be easy to use and
              deploy. Formal Training will allow you to
              confidently deploy and maximize the value you can
              get from Velociraptor. Velocidex Enterprises offers
              training courses at various levels which can also be
              tailored to your specific needs.
            </p>
          </div>
        </div><!--/ End 2nd featurebox -->

        <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
          <span class="feature-icon pull-left" ><i class="fa fa-tachometer-alt"></i></span>
          <div class="feature-content">
            <h3>High Performance Hunting</h3>
            <p>
              We pay a lot of attention to the performance of our
              tool! Velociraptor features high performance and
              endpoint throttling to minimize endpoint impact.
            </p>
          </div>
        </div><!--/ End 3rd featurebox -->

      </div><!-- Content row end -->

      <div class="gap-40"></div>

    </div><!--/ Container end -->
  </section><!--/ Feature box end -->


  <section id="image-block" class="image-block no-padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 ts-padding">
          {{- partial "map" -}}
        </div>
        <div class="col-md-6 ts-padding img-block-right">
          <div class="img-block-head text-center">
            <h2>Know More About Our Company</h2>
            <h3>Velocidex Enterprises</h3>
            <p>
              We are an Australian technology company.
            </p>
          </div>

          <div class="gap-30"></div>

          <div class="image-block-content">
            <span class="feature-icon pull-left" >
              <i class="fa fa-bicycle"></i>
            </span>
            <div class="feature-content">
              <h3>Proven track record</h3>
              <p>
                We have been doing incident response work for years.
              </p>
            </div>
          </div><!--/ End 1st block -->

          <div class="image-block-content">
            <span class="feature-icon pull-left" >
              <i class="fa fa-gem"></i>
            </span>
            <div class="feature-content">
              <h3>Someone you can trust</h3>
              <p>Our integrity is our strength</p>
            </div>
          </div><!--/ End 1st block -->

          <div class="image-block-content">
            <span class="feature-icon pull-left" >
              <i class="fa fa-street-view"></i>
            </span>
            <div class="feature-content">
              <h3>Local presence</h3>
              <p>
                We come to you and help you set up and manage your
                Velociraptor deployment
              </p>
            </div>
          </div><!--/ End 1st block -->

        </div>
      </div>
    </div>
  </section><!--/ Image block end -->

  <!-- Team start -->
  <section id="team" class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <span class="title-icon pull-left">
            <i class="fab fa-weixin"></i></span>
        </div>
        <div class="col-md-11 heading">
          <h2 class="title">
            Our Team <span class="title-desc">
              Velociraptor was developed by an expert team of
              digital forensic and cyber response professionals
              who have a long history of developing and working
              with incident response tools. Frustrated with the
              limitations and lack of flexibility of other tools,
              Velociraptor has the DFIR practitioner community in
              mind.
          </span></h2>
        </div>
      </div><!-- Title row end -->

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="team team-list wow slideInLeft">
            <div class="img-hexagon">
              <img src="/images/faces/mike.jpg" alt="">
              <span class="img-top"></span>
              <span class="img-bottom"></span>
            </div>
            <div class="team-content">
              <h3>Mike Cohen</h3>
              <p class="desc">
                Michael is a Digital Forensic Researcher and Software
                Engineer. He has worked on such open source DFIR
                projects as Rekall and GRR. He is the Principal
                Developer of Velociraptor.
              </p>

              <div class="team-social">
                <a class="fb" href="#"><i class="fab fa-facebook"></i></a>
                <a class="twt" href="#"><i class="fab fa-twitter"></i></a>
                <a class="gplus" href="#"><i class="fab fa-google-plus"></i></a>
                <a class="linkdin" href="#"><i class="fab fa-linkedin"></i></a>
                <a class="dribble" href="#"><i class="fab fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div><!--/ Team 1 end -->
        <div class="col-md-6 col-sm-6">
          <div class="team team-list wow slideInRight">
            <div class="img-hexagon">
              <img src="/images/faces/nick.jpg" alt="">
              <span class="img-top"></span>
              <span class="img-bottom"></span>
            </div>
            <div class="team-content">
              <h3>Nick Klein</h3>
              <p class="desc">
                Nick Klein has over 20 years of experience,
                specializing in forensic technology investigations
                and presenting expert evidence in legal and other
                proceedings. Since founding Klein & Co. in 2009,
                Klein and his team have been engaged as experts in
                well over 1,000 cases.
              </p>
              <div class="team-social">
                <a class="fb" href="#"><i class="fab fa-facebook"></i></a>
                <a class="twt" href="#"><i class="fab fa-twitter"></i></a>
                <a class="gplus" href="#"><i class="fab fa-google-plus"></i></a>
                <a class="linkdin" href="#"><i class="fab fa-linkedin"></i></a>
                <a class="dribble" href="#"><i class="fab fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div><!--/ Team 2 end -->
      </div><!--/ Content row end -->
      <div class="gap-60"></div>
    </div><!--/ Container end -->
  </section><!--/ Team end -->

  <!-- Parallax 1 start -->
  <section class="parallax parallax1">
    <div class="parallax-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Download your copy today!</h2>
          <p>
            <a href="docs/getting-started"
               class="btn btn-primary white">
              Getting Started
            </a>
            <a href="https://github.com/Velocidex/velociraptor/releases"
               class="btn btn-primary solid">
              Download
            </a>
          </p>
        </div>
      </div>
    </div><!-- Container end -->
  </section><!-- Parallax 1 end -->

  <!-- Testimonial start-->
  <section class="testimonial parallax parallax2">
    <div class="parallax-overlay"></div>
    <div class="container">
      <div class="row">
        <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
          <div class="item">
            <div class="testimonial-thumb">
              <img src="/images/team/testimonial1.jpg" alt="testimonial">
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
              </p>
              <h3 class="name">Sarah Arevik<span>Chief Executive</span></h3>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-thumb">
              <img src="/images/team/testimonial2.jpg" alt="testimonial">
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
              </p>
              <h3 class="name">Narek Bedros<span>Sr. Manager</span></h3>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-thumb">
              <img src="/images/team/testimonial3.jpg" alt="testimonial">
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
              </p>
              <h3 class="name">Taline Lucine<span>Sales Manager</span></h3>
            </div>
          </div>
        </div><!--/ Testimonial carousel end-->
      </div><!--/ Row end-->
    </div><!--/  Container end-->
  </section><!--/ Testimonial end-->
</div><!-- Body inner end -->
