<!DOCTYPE html>
<html lang="en">
  {{- partial "bizcraft_head.html" . -}}
  <body>
    {{- partial "bizcraft_header.html" . -}}
    {{- partial "bizcraft_slider.html" .Page.Params.Slider -}}

    <!-- Blog details page start -->
    <section id="main-container">
      <div class="">
        <div class="container">

          <!-- Blog start -->
          {{ if .Page.Params.full_width }}
            {{ .Content }}
          {{ else }}
            <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"> </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              {{ .Content }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"> </div>
          {{ end }}
        </div>
      </div>
    </section>

    <!-- Footer start -->
    <section id="copyright" class="copyright angle">
      <div class="container">
        <div class="">
          <div class="col-md-12 text-center">
            <div class="copyright-info">
              &copy; Copyright 2020 Velocidex Enterprises.
            </div>
          </div>
        </div><!--/ Row end -->
        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
          <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
        </div>
      </div><!--/ Container end -->
    </section><!--/ Footer end -->

    {{- partial "jsfooter.html" . -}}
  </body>
</html>
