
.item-icon {
    width: 120px
}

.navbar-brand img {
    height: 60px !important;
}

@font-face {
    font-family: "fontastique";
    src: url("/fonts/fontastique.ttf");
}

h1, h2, h3 {
    font-family: "fontastique";
}
